<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title === 'nicolas'">
  Este es Nicolas
</div>

<div *ngIf="title === 'julian'">
  Este es Julian
</div>

<div *ngIf="title === 'camilo'">
  Este es un Camilo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Este es Nicolas</p>
  <p *ngSwitchCase="'julian'">Este es Julian</p>
  <p *ngSwitchCase="'camilo'">Este es Camilo</p>
  <p *ngSwitchDefault="">No hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{i}} {{name}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{product.title}}
  <img [src]="product.image" alt="">
  {{product.price}}
</div>